<div data-role="view"
     data-title="Order"
     data-layout="main"
     data-show="app.orders.show">

    <h1>CurrentOrder:</h1>
    <ul id="currentOrder"
        data-rol="listview"
        data-style="inset"
        data-template = "currentOrderTemplate"
        data-bind="source: currentOrderDataSource">
    </ul>

    <h1 id="totalPrice"></h1>
    <img id="user-img" src="" />

    <a id="pay-btn" data-role="button" data-bind="events: {click: processOrder}">TAKE a SELFIE and PAY</a>
    <h1>Histories:</h1>
    <ul data-role="listview"
      data-style="inset"
      data-template="ordersTemplate"
      data-bind="source: ordersDataSource">
    </ul>

</div>

<script type="text/x-kendo-template" id="currentOrderTemplate">
    <div>
        <div class="order-content">
            <h2>Name: #:name#</h2>
            <h3>Place: #:place#</h3>
            <h4>Price: #:price# $</h4>
        </div>
        <a class="remove-btn" data-role="button" data-bind="events: { click: removeItem }">Remove</a>
    </div>

</script>

<script type="text/x-kendo-template" id="ordersTemplate">
    <div>
        <div class="order-content">
            <h2>OrderId: #:Id#</h2>
            <img class="order-pic" data-bind="attr:{src: pictureUrl}" />
            <h4>CreatedAt: #:createdAtFormatted()#</h4>
            <h4>Place : #:PlaceName#</h4>
            <h4>Items: #:Items#</h4>
            <h4>Price: #:Price# $ </h4>
        </div>
    </div>    
</script>