<div data-role="view" data-title="Places" data-layout="main" class="places-view" data-model="app.Places">
    <ul id="places-listview" data-style="inset" data-role="listview" data-template="placeTemplate"
        data-bind="source: places"></ul>
</div>

<!-- Places ListView Template -->
<script type="text/x-kendo-template" id="placeTemplate">
    <div data-role="touch" data-bind="events: { tap: placeSelected }">
        <!-- <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div> -->
        <div class="place-content">
            <h2 class="place-name">${Name}</h2>
        </div>
    </div>
</script>