<div data-role="view"
     data-title="Places"
     data-layout="main"
     data-model="app.places.viewModel">

    <ul id="places-listview"
        data-style="inset"
        data-bind="source: placesDataSource"
        data-role="listview"
        data-template="placeTemplate">
    </ul>

</div>

<script type="text/x-kendo-template" id="placeTemplate">
    <div data-role="touch" data-bind="events: { tap: placeSelected }">
        <div class="place-content">
            <h2 class="place-name">${Name}</h2>
        </div>
    </div>
</script>