<div data-role="view"
     data-title="Menu"
     data-layout="main"
     data-show="app.PlaceMenu.show">
    <ul id="items-listview"
        data-style="inset"
        data-role="listview"
        data-template="placeMenuTemplate"
        data-bind="source: menuDataSource"></ul>
</div>

<!-- Places ListView Template -->
<script type="text/x-kendo-template" id="placeMenuTemplate">
    <div data-role="touch" data-bind="events: { tap: itemSelected }">
        <div class="item-content">
            <h2 class="item-name">#:Name#</h2>
            <h3 class="item-description">#:Description#</h3>            
            <p>It could be ready after: #:WaitTime#min</p>            
            <h4 class="item-price">Price: #:Price# $</h4>
        </div>
    </div>
</script>