#skipTheLineApp .welcome-scrn .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#skipTheLineApp .welcome-scrn .group-wrp li {
    margin: 1.5em 0 0;
}

#skipTheLineApp .welcome-scrn .group-wrp .btn {
    display: block;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth {
    margin-right: -1%;
    margin-left: -1%;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .oauth-item {
    float: left;
    margin: 0 1%;
    width: 23%;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .btn {
    overflow: hidden;
    height: 45px;
    text-indent: -999px;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .btn span,
#skipTheLineApp .welcome-scrn .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#skipTheLineApp .welcome-scrn .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}