#skipTheLineApp .welcome-scrn .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#skipTheLineApp .welcome-scrn .group-wrp li {
    margin: 1.5em 0 0;
}

#skipTheLineApp .welcome-scrn .group-wrp .btn {
    display: block;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth {
    margin-right: -1%;
    margin-left: -1%;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .oauth-item {
    float: left;
    margin: 0 1%;
    width: 23%;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .btn {
    overflow: hidden;
    height: 45px;
    text-indent: -999px;
}

#skipTheLineApp .welcome-scrn .group-wrp .oauth .btn span,
#skipTheLineApp .welcome-scrn .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#skipTheLineApp .welcome-scrn .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}

/*login buttons*/
#skipTheLineApp .btn-login-fb {
    background-image: url(images/icon-facebook.png);
}

#skipTheLineApp .btn-login-google {
    background-image: url(images/icon-google.png);
}

#skipTheLineApp .oauth-item .btn {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/*login buttons*/

#login-form .username,
#login-form .password {
    position: static;
    width: 100%;
    height: 40px;
    font-size: 1rem;
}

#login-form .username:before,
#login-form .password:before {
    position: absolute;
    top: 50%;
    right: .75em;
    display: block;
    margin-top: -.5em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
}

#login-form .username:before {
    background-image: url(images/icon-username.png);
}

#login-form .password:before {
    background-image: url(images/icon-password.png);
}

#skipTheLineApp.km-flat .km-list input[type="text"]:not(.k-input),
#skipTheLineApp.km-flat .km-list input[type="password"],
#skipTheLineApp.km-flat .km-list input[type="email"],
#skipTheLineApp.km-flat .km-list input[type="date"],
#skipTheLineApp.km-flat textarea,
#skipTheLineApp.km-flat select {
    position: static;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}
